* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
}

.container{
    max-width: 960px;
    margin: auto;

}
/* Navigation */
#navbar{
   background-color: #333;
   color: white;
   height: 50px;
   padding-top: 5px;

}

#navbar h1{
    float: left;
}

#navbar ul{
    float: right;
    list-style: none;
}

#navbar ul li{
    float: left;
}

#navbar ul a{
    color: white;
    padding: 20px;
    text-decoration: none;
}

#navbar ul a:hover{
    color: #f7c08a;
    text-decoration: underline;
}

h2{
    color: #f7c08a;
    margin-left: 3rem;
    margin-top: 2rem;
}

p{
    margin-top: 1rem;
    margin-left: 3rem;
}

.inputs{
    margin-left: 4rem;
    margin-top: 1rem;
}

#name{
    margin-bottom: 1em;
}

#email{
    margin-bottom: 1em;
}

#message{
    margin-bottom: 1em;
}

#input{
    width: 10em;
}

input{
    width: 90%;
}

.lis{
    display: block;
    margin-bottom: 1em;

}

button{
    color: white;
    background-color: #333;
    margin: 2em 0em 0em 4em;
    border: none;
    font-size: large;
    padding: .3em;
    border-radius: 10%;

}

#features{
    text-align: center;
}

.box{
    float: left;
    width: 33.3%;
    padding: 50px;
    margin-top: 4em;
}

.box i{
    font-size: 40px;
}

.bg-light{
    background: #f4f4f4;
    background-color: #333;
    color: white;
}